<html>
	<head>
		<!-- Milligram CDN -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.css">
		<!-- Google Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<!-- CSS Reset -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<title>LoLSS</title>
	</head>
	<body>
		<div style="position:absolute; top: 0; height: 40px;">
			<h1>LoL Stat Search</h1>
		</div>
		<div style="margin-top:60px">
			{{{ body }}}
		</div>
		<div style="position:absolute; bottom: 0; height: 40px;">
			<h5>Joe Magee &copy;2016</h5>
		</div>
	</body>
</html>
